.step-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    position: absolute;
    top: -25px;
    right: 25px;
    border-radius: 100%;
    background-color: hsla(28, 13%, 78%, 1);
}